.title-block {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-color);
  line-height: 17px;
}

 input[type='text'] {
  width: 100%;
  border: 1px solid var(--light-grey-color);
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 400;
  color: var(--grey-color);
  border-radius: 3px;
}

input[type='text']:focus {
  outline: 0;
  outline-offset: 0;
  border: 1px solid var(--main-green-color);
}

@media screen and (min-width: 767px) and (max-width: 990px) {
  .title-block {
    font-size: 12px;
  }

  input[type='text'] {
    padding: 5px 8px;
    font-size: 10px;
  }
}
